<meta charset="utf-8">

<%# ################ %>
<%# Load Stylesheets %>
<%# ################ %>

<link rel="stylesheet" href="../stylesheets/index.css">
<link rel="stylesheet" href="../stylesheets/navbar.css">
<link rel="stylesheet" href="../stylesheets/loading.css">
<link rel="stylesheet" href="../stylesheets/notifications.css">

<%# ############## %>
<%# Load Libraries %>
<%# ############## %>

<script type="text/javascript" src="../libraries/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../libraries/mustache.min.js"></script>
<script type="text/javascript" src="../plugins/jquery.fileDownload.js"></script>

<%# ####################### %>
<%# Load Mustache Templates %>
<%# ####################### %>

<%- include ../mustache_templates/info-template.ejs %>

<title>Excel to H2K</title>
