<div class="navbar">
  <div class="navbar-group" style="float: left; width: auto; ">
    <img class="navbar-logo" src="../images/energy3r-logo.png">
    <p>Excel report to H2K report</p>
  </div>
  <div class="navbar-group" style="float: right; width: 200px">
    <div style="display:table-cell;vertical-align: middle;">
      <button id="debug-toggle">Debug Mode: Off</button>
    </div>
  </div>
</div>

