<script type="text/html" id="info-template">
      
      <tr id="info-{{count}}">
        <td>
          <input type="text" value="0" name="info[id][{{count}}]">
        </td>
        <td id="info-{{count}}-cell-2"><input type="text" value="{{infoValue}}" name="info[value][{{count}}]"></td>
      </tr>
    
    </script>